extends layout
block content
    
        div(class="w-full h-screen bg-[url('https://wallpapercave.com/wp/wp1874169.jpg')] bg-cover bg-center grid items-center  bg-black/20 bg-blend-overlay")
            div(class="flex flex-col items-center justify-center  max-w-2xl mx-auto")
                h1(class="text-center text-5xl font-bold text-[#D91656]") Our Story!
                p(class="text-white text-center mt-3 text-lg") At Savor and Spice, we believe that food is more than just nourishment; it's a celebration of culture, creativity, and connection. Founded in 2022 by a group of passionate food lovers, our restaurant was born out of a desire to bring people together through the rich tapestry of flavors from around the world. Our journey began with a simple mission: to create a warm and inviting space where guests can savor delicious dishes made from the finest ingredients. Inspired by family recipes and culinary traditions, our chefs craft each meal with love and attention to detail, ensuring that every bite tells a story.Nestled in the heart of Nairobi, Savor and Spice has quickly become a beloved gathering spot for locals and visitors alike. Whether you're here for a casual lunch with friends or a special celebration, our diverse menu offers something for everyone, from mouthwatering appetizers to delightful desserts.
                button(class="border border-transparent bg-orange-400  text-white mt-10 py-1 px-8 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") Join Us