extends layout
block content

    section(class="bg-[#151c26] ")
        h1(class="text-center text-4xl font-bold text-[#D91656] pt-8") Chef's Choice
        div(class=" grid grid-cols-3 gap-5 mx-10 ")
            div(class=" text-gray-400 text-center mt-16")
                img(src="https://th.bing.com/th/id/OIP._9R9yN-B7J4gL6Rt4flC3wHaE7?rs=1&pid=ImgDetMain" class="shadow-lg shadow-black")
                p(class=" text-xl mt-5") Andrew Stols
                p(class="text-[#D91656]") Chef
            div(class=" text-gray-400 text-center mt-16") 
                img(src="https://www.csftw.edu/wp-content/uploads/Types-of-Chefs.jpg" class="shadow-lg shadow-black")
                p(class=" text-xl mt-5")  Linda Jones
                p(class="text-[#D91656]") Assistant Chef
            div(class=" text-gray-400 text-center mt-16" ) 
                img(src="https://img.freepik.com/premium-photo/photo-young-chef-preparing-food-restaurant-kitchen_191555-4390.jpg" class="shadow-lg shadow-black")
                p(class=" text-xl mt-5") Michael Brady 
                p(class="text-[#D91656]") Chef 
        div(class=" grid grid-cols-2 text-[#FFF7D1] mt-20 gap-32  max-w-6xl mx-auto") 
            div(class="text-centre text-2xl mx-auto")
                p Enjoy our interactive resturant-theatre at the incredible chefs table
            div 
                p We recommend to book a spot at our Cefs Kitchen Table .Every Friday Andrew Stols adn his team presents a mouth watering menu, guiding guests through the culture and traditions of Kenyan cuisines. You will listen to fascinating stories with a vibrant atmosphere      .
        div(class=" grid grid-cols-3 mt-16")
            div(class="")
                div(class="border border-transparent text-gray-300 mx-4 mt-3 p-5 rounded-lg shadow-xl bg-[#050d18] shadow-black")
                    p Savor & Spice offers a truly unforgettable dining experience! The flavors are bold and beautifully balanced, and every dish feels like a culinary adventure. From the Classic Harvest Burger to the Butter Chicken, each bite is a celebration of fresh, high-quality ingredients.
                    div(class=" mt-6 gap-3 flex")
                        img(src="https://yt3.ggpht.com/ytc/AMLnZu9JrUpfU5ZvbCLo7ZaMNG5L2O6RyFa-CGDaXxAg=s900-c-k-c0x00ffffff-no-rj", alt="" class="h-6  w-6 border rounded-full mt-3")
                        div(class=" text-gray-400")
                            p Emmanuel Stones 
                            p(class="text-[#D91656]") founder  
            div(class="  ")
                div(class="border border-transparent text-gray-300 mx-4 mt-3 p-5 rounded-lg shadow-xl bg-[#050d18] shadow-black")
                    p Savor & Spice is an absolute gem! The menu is packed with vibrant flavors that take you on a culinary journey around the world. The attention to detail in every dish is incredible, and the presentation is just as impressive as the taste. The friendly staff and !
                    div(class=" mt-6 gap-3 flex")
                        img(src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg", alt="" class="h-6  w-6 border rounded-full mt-3")
                        div(class=" text-gray-400")
                            p Richard Owens
                            p(class="text-[#D91656]") Accountant
            div(class="  ")
                div(class="border border-transparent text-gray-300 mx-4 mt-3 p-5 rounded-lg shadow-xl bg-[#050d18] shadow-black")
                    p Dining at Savor & Spice is always a delightful experience. The combination of global spices and high-quality ingredients brings out bold, unforgettable flavors in every dish. Whether you’re trying the Butter Chicken or their signature Meat Platter, you can taste the passion in every bite.
                    div(class=" mt-6 gap-3 flex")
                        img(src="https://i.vimeocdn.com/portrait/26237693_640x640", alt="" class="h-6  w-6 border rounded-full mt-3")
                        div(class=" text-gray-400")
                            p Jarvis Johnson
                            p(class="text-[#D91656]") CEO