extends layout
block content

    section(class="bg-[#151c26] ") 
        div(class="w-full h-screen bg-[url('https://media.babylonbee.com/articles/62f69993e53ce62f69993e53cf.jpg')] bg-cover bg-center bg-black/50 bg-blend-overlay  flex items-center justify-center")
            div(class="px-8  text-center max-w-lg")
                h1(class="text-5xl font-bold text-[#D91656]") Exciting Events at Savor & Spice
                p(class="text-white text-xl mt-5")  At Savor & Spice, we believe that great food deserves great experiences. That’s why we host a variety of special events designed to delight and inspire. Whether you’re a foodie, a music lover, or just looking for a unique night out, we have something for everyone. Join us for unforgettable evenings filled with delicious cuisine, creative drinks, and vibrant entertainment!
                button(class="border border-transparent bg-[#e9a556] px-10  py-1 text-white mt-24 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") Book Now
        div    
            h2(class="text-center text-4xl font-bold text-[#D91656] pt-8 ") Events
            p(class="text-gray-300 text-center mt-5") We provide the most authentic hands-on experience from conferences to live events and wine lovers around the world. Our long-term mission is to educate, inspire, and enable all people to experience the joy of culinary arts through immersive cooking classes, wine tastings, and gourmet dining experiences
            div(class=" grid grid-cols-2 gap-10 mx-10 mt-10")    
                div(class="m-5 relative")  
                    img(src="https://www.marketsatshrewsbury.com/wp-content/uploads/2021/03/MAS-Mar.-Blog-Header-min-scaled.jpg", alt="", class="w-full h-full object-cover shadow-lg shadow-black")
                    p(class="absolute inset-0 flex items-center justify-center text-gray-300 text-xl bg-black bg-opacity-50") Wine Pairing Dinners

                div(class="m-5 relative")     
                    img(src="https://images.unsplash.com/photo-1690460814053-5906ac3e90cd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", alt="" class="w-full h-full object-cover shadow-lg shadow-black")
                    p(class="absolute inset-0 flex items-center justify-center text-gray-300 text-xl bg-black bg-opacity-50") Live Music Nights
                div(class="m-5 relative")     
                    img(src="https://th.bing.com/th/id/R.416a7aa63ab991489d67cda2c631d437?rik=QfTKRYJhYXFrdA&riu=http%3a%2f%2fwww.hiddensecretstours.eu%2fimg%2fw-900%2ch-750%2f2016-09-01%2fshutterstock_339765929.jpg&ehk=pTxXp5FZuM0D5JJ870Q4lG6hWsH%2fEiTcj2H7wNbt55k%3d&risl=&pid=ImgRaw&r=0", alt="" class="w-full h-full object-cover shadow-lg shadow-black")
                    p(class="absolute inset-0 flex items-center justify-center text-gray-300 text-xl bg-black bg-opacity-50") Themed Cuisine Nights

                div(class="m-5 relative")     
                    img(src="https://th.bing.com/th/id/R.5636839db83b8932de8111559508581f?rik=0c5zL2sg3CX3hg&pid=ImgRaw&r=0", alt="" class="w-full h-full object-cover shadow-lg shadow-black")
                    p(class="absolute inset-0 flex items-center justify-center text-gray-300 text-xl bg-black bg-opacity-50") Holiday Celebrations
        div(class="w-full h-28 bg-[url('https://i.pinimg.com/736x/b3/1e/48/b31e488cf4a345a220b88f6d44f27682.jpg')] bg-cover bg-middle  flex items-center justify-center mt-16")