extends layout
block content

    section(class="bg-[#151c26] ")  
        div
            h1(class="text-center text-4xl font-bold text-[#D91656] pt-8") Welcome to Savor & Spice
            p(class="text-gray-300 text-center mt-4") At Savor & Spice, we invite you to embark on a culinary journey like no other. Nestled in the heart of [Your Location], our restaurant is a celebration of flavors, aromas, and vibrant cultures from around the globe. With a menu crafted to ignite your senses, we blend traditional recipes with modern twists, ensuring each dish is a delightful experience.
        h2(class="text-center text-2xl font-bold text-[#D91656] pt-8 ")  Welcome to our resturant
        div(class=" grid grid-cols-3 gap-8 mt-10") 
            div(class="mx-5 relative shadow-xl shadow-black") 
                img(src="https://th.bing.com/th/id/OIP.uY1AXqfqzgo1t__wbCFX8wHaEK?rs=1&pid=ImgDetMain", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Nairobi
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://th.bing.com/th/id/OIP.vb3rw6saEO-bI8PnaAUS9AHaEK?rs=1&pid=ImgDetMain", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Mombasa
            div(class="relative mx-5 shadow-xl shadow-black")  
                img(src="https://th.bing.com/th/id/OIP.GF2o85nHbN_0oWV4p5gKCAHaEK?rs=1&pid=ImgDetMain", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Kisumu
        h2(class="text-center text-2xl font-bold text-[#D91656] pt-8 ") Our Events 
        div(class=" grid grid-cols-3 gap-8 mt-10")
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://i.pinimg.com/564x/ab/67/06/ab6706f12033cad981b146bba8c35d04.jpg", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") wedding
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://i.pinimg.com/564x/d4/87/40/d4874012f8576f9b791082c343e0e6b8.jpg", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Copral parties
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://i.pinimg.com/564x/c4/68/61/c46861322d5e5745e8c1cd2b9cc43347.jpg", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Themed Resturants
        h2(class="text-center text-2xl font-bold text-[#D91656] pt-8 ") Our Menu
        div(class=" grid grid-cols-3 gap-8 mt-10")
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://wallpaperaccess.com/full/767283.jpg", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Pizza Special
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://th.bing.com/th/id/OIP.w8EtMQ6kySnS1HHAmN2mrQHaE8?rs=1&pid=ImgDetMain", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Meat Platter
            div(class="relative mx-5 shadow-xl shadow-black") 
                img(src="https://th.bing.com/th/id/OIP.fCTcRAxRG0wobw2WCjq1FAHaE8?rs=1&pid=ImgDetMain", alt="", class="w-full h-full object-cover ")
                p(class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold bg-black bg-opacity-50") Pasta