extends layout
block content

    section(class="bg-[#151c26] ") 
        div(class="p-10")
            h1(class="text-center text-[#D91656] text-3xl font-semibold ") Our Services
            p(class="text-gray-300 text-center mt-4") At Savor & Spice, we strive to enhance your dining experience with a variety of exceptional services designed to meet your needs. Explore what we have to offer:
        div(class=" grid lg:grid-cols-3 gap-7 text-white mx-24 lg:mx-0") 
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://www.allrecipes.com/thmb/hMAgtavrVPX94GearJUVIgRXSg0=/2000x1334/filters:fill(auto,1)/2021-Year-In-Groceries-2000-b9a182ddf0e448ff898c5badc76a4314.jpg", alt="" class="border border-transparent rounded-lg")
                div(class="lg:mx-3 lg:mt-3 mx-10 mt-5" )
                    p(class="text-lg text-[#D91656]") Online Reservations
                    p Reserve your table effortlessly through our online booking system. Choose your preferred date and time, and let us take care of the rest. Enjoy!
                    button(class="mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://th.bing.com/th/id/OIP.WgxodMa1VM0PwycbVGAflQHaE8?rs=1&pid=ImgDetMain", alt="" class="border rounded-lg border-transparent w-full")
                div(class="lg:mx-3 lg:mt-3  mx-10 mt-5" )
                    p(class="text-lg text-[#D91656]") Takeout and Delivery
                    p Enjoy your favorite dishes from the comfort of your home with our convenient takeout and delivery services. 
                    button(class=" mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://th.bing.com/th/id/R.1474adac31f4c9335b711cdb768d3154?rik=YxxPzq9YIR0oAg&riu=http%3a%2f%2fwww.maharaniweddings.com%2fwp-content%2fgallery%2fhumza-yasin-photography-8-14%2findian-wedding-reception-decor-purple-white.jpg&ehk=F5tUfo3ZCN7M7KlE6MS67jQb%2bWhCGl2Ts62GR%2f7Oui8%3d&risl=&pid=ImgRaw&r=0", alt="" class="border rounded-lg border-transparent w-full")
                div(class="lg:mx-3 lg:mt-3mx-10 mt-5" )
                    p(class="text-lg text-[#D91656]") Event Hosting
                    p Celebrate special occasions in style at Savor & Spice! Whether it’s a birthday, wedding, or corporate gathering, we offer customizable event packages to suit your needs.
                    button(class=" mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://th.bing.com/th/id/OIP.GRetC6EP__RZKBIby22w_QHaE7?w=626&h=417&rs=1&pid=ImgDetMain", alt="" class="border rounded-lg border-transparent")
                div(class="lg:mx-3 lg:mt-3 bmx-10 mt-5" )
                    p(class="text-lg text-[#D91656]") Catering Services
                    p Elevate your next event with our exceptional catering services. From intimate gatherings to large celebrations, we provide a range of delicious menu options tailored to your preferences. 
                    button(class="mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://th.bing.com/th/id/OIP.4GDPj9kJwx3Cz-x4e3UXwwHaE8?w=2048&h=1367&rs=1&pid=ImgDetMain", alt="" class="border rounded-lg border-transparent")
                div(class="lg:mx-3 lg:mt-3 mx-10 mt-5" )
                    p(class="text-lg text-[#D91656]")  Cooking Classes 
                    p Unleash your inner chef with our interactive cooking classes! Join us for a fun and educational experience where you’ll learn to create signature dishes from our menu. 
                    button(class="mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service
            div(class="border-2 border-transparent rounded-lg mx-4 bg-[#050d18] mt-8 text-center shadow-xl shadow-black")
                img(src="https://th.bing.com/th/id/OIP.QsmSSdKMnOxAxq18rmmu1AHaE8?rs=1&pid=ImgDetMain", alt="" class="border rounded-lg border-transparent w-full")
                div(class="lg:mx-3 lg:mt-3 mx-10 mt-5" )
                    p(class="text-lg text-[#D91656]") Wine Club
                    p Join our exclusive Wine Club and embark on a journey through the world of wine! Enjoy handpicked selections delivered to your door, along with invitations to exclusive tastings and events.
                    button(class=" mt-14 lg:mt-4 border border-transparent bg-[#e9a556] px-10  py-1 text-white my-5 rounded-tl-xl rounded-br-xl hover:bg-[#D91656] transition-colors duration-500  ease-in-out") View Service